.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding-right: 8px;
  padding-left: 8px;
  border-color: transparent;
  border-radius: 3px;
  background-color: var(--oc-black);
  font-weight: bold;
  color: var(--oc-white);
}

.button[disabled] {
  background-color: var(--oc-gray-4);
  pointer-events: none;
}

.button.is-outline {
  border: 1px solid var(--oc-black);
  background-color: var(--oc-white);
  color: var(--oc-black);
}
